*
{
	margin: 0;
	padding: 0;
	font-family: "RobotoDraft", Roboto, Arial, sans, sans-serif;
	/*font-weight: medium;*/
	font-size: 15px;
}

html
{
	
}

body
{
	background-color: #000000;
}

canvas
{
	position: absolute;
}

#svg
{
	position: absolute;
	visibility: hidden;
}

h1#logoTitle
{
	position: absolute;
	font-weight: lighter;
	font-size: 30px;
	color: #FFFFFF;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 2s ease, visibility 2s ease;
	transition: opacity 2s ease, visibility 2s ease;
}